@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.flex-2 {
  flex: 2 1 0;
}

.icon {
  display: block;
  width: 1em;
  height: 1em;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
}

.icon-widgets {
  -webkit-mask-image: url(https://api.iconify.design/material-symbols/widgets-outline.svg);
  mask-image: url(https://api.iconify.design/material-symbols/widgets-outline.svg);
}

.icon-bullet {
  -webkit-mask-image: url(https://api.iconify.design/zondicons/list-bullet.svg);
  mask-image: url(https://api.iconify.design/zondicons/list-bullet.svg);
}

.icon-code {
  -webkit-mask-image: url(https://api.iconify.design/material-symbols/code.svg);
  mask-image: url(https://api.iconify.design/material-symbols/code.svg);
}

.icon-save {
  -webkit-mask-image: url(https://api.iconify.design/mdi/content-save-all-outline.svg);
  mask-image: url(https://api.iconify.design/mdi/content-save-all-outline.svg);
}

.icon-copy {
  -webkit-mask-image: url(https://api.iconify.design/mdi/content-copy.svg);
  mask-image: url(https://api.iconify.design/mdi/content-copy.svg);
}

.icon-add {
  -webkit-mask-image: url(https://api.iconify.design/material-symbols/add-circle-outline.svg);
  mask-image: url(https://api.iconify.design/material-symbols/add-circle-outline.svg);
}

.icon-delete {
  -webkit-mask-image: url(https://api.iconify.design/material-symbols/delete-outline.svg);
  mask-image: url(https://api.iconify.design/material-symbols/delete-outline.svg);
}

.icon-arrow-top {
  -webkit-mask-image: url(https://api.iconify.design/ic/baseline-keyboard-arrow-up.svg);
  mask-image: url(https://api.iconify.design/ic/baseline-keyboard-arrow-up.svg);
}

.icon-arrow-bottom {
  -webkit-mask-image: url(https://api.iconify.design/ic/baseline-keyboard-arrow-down.svg);
  mask-image: url(https://api.iconify.design/ic/baseline-keyboard-arrow-down.svg);
}

.icon-close {
  -webkit-mask-image: url(https://api.iconify.design/ic/outline-close.svg);
  mask-image: url(https://api.iconify.design/ic/outline-close.svg);
}